*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.section:nth-of-type(1){
	background: url(../img/3.jpg) no-repeat;
	background-size: cover;
}
.section:nth-of-type(2){
	background: url(../img/4.jpg)no-repeat;
	background-size: cover;
}
.section:nth-of-type(3){
	background: url(../img/5.jpg)no-repeat;
	background-size: cover;
}
.section:nth-of-type(4){
	background: url(../img/7.jpg)no-repeat;
	background-size: cover;
}
.head{
	width: 100%;
	height: 66px;
	background: #168bd8;
	position: fixed;
	top:0;
	z-index: 11;
}

.nav{
	width: 1000px;
	margin: 0 auto;
}
.nav .logo{
	display: block;
	background: url(../img/header.png);
	background-position: -2px 0px;
	width: 120px;
	height: 40px;
	margin-top: 10px;
	background-repeat: no-repeat;
	float: left;
}
.navbox{
	width: 300px;
	height: 60px;
	margin-left: 60px;
	/*background: red;*/
	float: left;
}
.navbox a{
	display: block;
	width: 100px;
	font-size: 15px;
	height: 28px;
	padding-top: 32px;
	color: #fff;
	text-align: center;
	cursor: pointer; 
	float: left;
}
.nav-help{
	float: right;
	margin-top: 25px;
}
.nav-help a{
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
}
.nav-help .khd i{
	background: url(../img/header.png);
	background-position: -88px -154px;
	display: inline-block;
	width: 32px;
	height: 25px;
	background-repeat: no-repeat;
}
.nav-help .color{
	color:#FFDA28;
}
.fp-tablecell{
	height: 390px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	/*position: relative;*/
}
.top{
	position: absolute;
	width: 200%;
	left: 0;
	top: 0;
}
@keyframes yundong{
	from{
		left: 0;
	}
	to{
		left:-100%;
	}
}
.bg-yun{
	position: absolute;
	top: 0;
	/*left: 0;*/
	width: 100%;
	height: 1000px;
	float: left;
	background: url(../img/cloud.png);
	animation:yundong 80s linear infinite forwards;
}
.middle{
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
}
.xiaoyun{
	position: absolute;
	top: -200px;
	left: 0;
	width: 100%;
	height: 400px;
	background: url(../img/cloud2.png);
	animation:yundong 50s linear  infinite forwards;
}
.bottom{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.smallyun{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: url(../img/cloud3.png);
	animation:yundong 50s linear  infinite forwards;
}
.follow-head{
	height: 126px;
	background: #0d71cd ;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.follow-head .center{
	width: 1000px;
	margin: 0 auto;
	position: relative;

}
@keyframes move{
	from{
		
	}
	to{
		
	}
}
.sanjiao{
	width: 63px;
	height: 78px;
	background: url(../img/5.png);
	position: absolute;
	right: 288px;
	top: -13px;
}
.sanjiao2{
	width: 260px;
	height: 175px;
	background: url(../img/16.png);
	position: absolute;
	right: -129px;
	top: -47px;
}
.sanjiao3{
	width: 265px;
	height: 175px;
	background: url(../img/14.png);
	position: absolute;
	left: -182px;
	top: -50px;
}
.chuan{
	width: 242px;
	height: 228px;
	background: url(../img/3.png);
	position: absolute;
	left: 126px;
	top: -191px;
	transform:;
}
.baidu{
	width: 501px;
	height: 158px;
	background: url(../img/19.png);
	position: absolute;
	left: 0;
	top:-410px;
}
@keyframes plane{
	from{
		transform:translateY(0);
	}
	to{
		transform:translateY(-20px);
	}
}
.plane{
	width: 119px;
	height: 78px;
	background: url(../img/10.png);
	position: absolute;
	left: 295px;
	top: -436px;
	animation:plane 1s linear alternate infinite;
}
.arrow{
	display: block;
	width: 20px;
	height: 20px;
	position:absolute;
	bottom:50px;
	left:677px;
	z-index:100;
	animation:plane 1s linear 0.5s infinite alternate;
}
/*section2*/
.section .center{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.title{
	position: absolute;
	top: -100px;
	left: -20px;
	font-family: 'Microsoft Yahei';
	color: #fff;
	width: 500px;
	z-index: 100;
	opacity: 0;
	/*background: red;*/
}
.title h3{
	background: url(../img/11.png)no-repeat;
	width: 66px;
	height: 126px;
	text-indent: -9999em;
	float: left;
	animation:rotate 2s linear 0s infinite alternate;
}
.title2 h3{
	background: url(../img/12.png)no-repeat;
	animation:rotate 2s linear 0s infinite alternate;
}
.title3 h3{
	background: url(../img/134.png)no-repeat;
	animation:rotate 2s linear 0s infinite alternate;
}
@keyframes rotate{
	from{
		transform:rotateY(0deg);
	}
	40%{
		transform:rotateY(0deg);
	}
	to{
		transform:rotateY(-360deg);
	}
}
.title .ziyou{
	margin-left: 86px;
	/*margin-left: 75px;*/
	margin-top: 8px;
}
.title .ziyou h4{
	font-size: 34px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 48px;
	margin-bottom: 6px;
	font-family: 'Microsoft Yahei';
	color: #fff;
	/*opacity: 0;*/
}
.title .ziyou p{
	font-size: 19px;
	letter-spacing: 1px;
	line-height: 32px;
	opacity: .8;
	/*opacity: 0;*/
}
.tudong{
	width: 444px;
	height: 427px;
	background: url(../img/7.png)no-repeat;
	position: absolute;
	right: -26px;
	opacity: 0;
	top: -200px;
}
.tudong2{
	background: url(../img/1.png)no-repeat;
}
.tudong3{
	width: 603px;
	height: 361px;
	position: absolute;
	top: -160px;
	right: 0;
	background: url(../img/90.png)no-repeat;
}
.square{
	background: #35b568;
	position: absolute;
	left: 70px;
	bottom: -335px;
	width: 44px;
	height: 44px;
}
.square2{
	background: #4ac179;
	left: 158px;
	width: 88px;
	height: 88px;
}
.square3{
	background: #8ae75a;
	left: 246px;
	width: 44px;
	height: 44px;
}
.square4{
	background: #8ae75a;
	position: absolute;
	left: 648px;
	bottom: -335px;
	width: 44px;
	height: 44px;
}
.square5{
	background: #4ac179;
	left: 740px;
	width: 44px;
	height: 44px;
}
.follow-head2{
	height: 138px;
	background: url(../img/6.png)no-repeat;
}

